{
    "chat_id" : "0000000,1111111,2222222",
    "tg_token": "",
    "sp_id": "",
    "sp_secret": "",
    "google_sheet_url": "https://docs.google.com/spreadsheets/00000000000000",
    "playlist_uri": "spotify:playlist:0000000000000000000"
}